/ Admin panel for group management
%form.col-lg-9.col-md-9.col-sm-12.col-xs-12{role: "update group settings", action: "#{update_settings_path}"}
  #accordion.panel-group
    .panel.panel-default.card-panel
      .panel-heading
        %h4.panel-title
          %a{"data-parent" => "#accordion", "data-toggle" => "collapse", href: "#create-group"}
            Create new group
      #group-settings.panel-collapse.collapse.in
        .card
          %h4 New Group
          
    .panel.panel-default.card-panel
      .panel-heading
        %h4.panel-title
          %a{"data-parent" => "#accordion", "data-toggle" => "collapse", href: "#group-list"}
            Group list
      #group-list.panel-collapse.collapse
        .card
          %table.table.table-striped
            %tr
              %th Group
              %th Number of Students
              %th Group's GSI
            - Group.all.each do |gr|
              %tr
                %td
                  %a{href: "#{group_path(gr.id)}"} #{gr.group_name}
                %td
                  %span.badge #{gr.num_students}
                %td
                  %select{ :name=> "group_reader[#{gr.id}]", :id=> "group_reader[#{gr.id}]" }
                    - if gr.reader.nil?
                      %option{selected: "selected", value: "Please select"} Please select:
                    - else
                      %option{selected: "selected", value: gr.reader.id} #{gr.reader.name}
                    - User.get_readers.each do |reader|
                      %option{value: reader.id} #{reader.name}
    %br/
    %button.btn.btn-success{style: "float:right", type: "submit"} Apply Changes
  %br/
  %br/
  %br/
/ / Assignment dashboard panel