/ Admin panel for student management
//%form.col-lg-9.col-md-9.col-sm-12.col-xs-12{role: "update user settings", action: "#{update_user_settings_path}"}
.col-lg-9.col-md-9.col-sm-12.col-xs-12
  #accordion.panel-student
    .panel.panel-default.card-panel
      .panel-heading
        %h4.panel-title
          %a{"data-parent" => "#accordion", "data-toggle" => "collapse", href: "#student-list"}
            Student list
      #student-list.panel-collapse.collapse
        .card
          %table.table.table-striped
            %tr
              %th Name
              %th Class Account
              %th Group
              %th Action
            - Student.where(is_admin: :false).order(:name).each do |stu|
              %tr
                %td
                  %a{href: "#{student_path(stu.id)}"} #{stu.name}
                %td
                  #{stu.class_account}
                %td
                  - gr = stu.group
                  / %select{ :name=> "group[#{gr.id}]", :id=> "group[#{gr.id}]" }
                  /   - if gr.nil?
                  /     %option{selected: "selected", value: "Please select"} Please select:
                  /   - else
                  /     %option{selected: "selected", value: gr.id} #{gr.group_name}
                  /   - Group.order(:group_name).each do |group|
                  /     %option{value: group.id} #{group.group_name}
                  %a{href: group_path(gr.id)}#{gr.group_name}
                %td
                  = link_to(stu, method: :delete, data: { confirm: "Are you sure you want to delete #{stu.name}?"}) do
                    %span.glyphicon.glyphicon-remove 

    .panel.panel-default.card-panel
      .panel-heading
        %h4.panel-title
          %a{"data-parent" => "#accordion", "data-toggle" => "collapse", href: "#admin-list"}
            Admin list
      #admin-list.panel-collapse.collapse
        .card
          %table.table.table-striped
            %tr
              %th Name
              %th Action
            - Student.where(is_admin: :true).each do |stu|
              %tr
                %td
                  %a{href: "#{student_path(stu.id)}"} #{stu.name}
                %td
                  = link_to(stu, method: :delete, data: { confirm: "Are you sure you want to delete #{stu.name}?"}) do
                    %span.glyphicon.glyphicon-remove 
/ / Assignment dashboard panel