- content_for :styles do
  = stylesheet_link_tag 'shared_navbar'

/ Fixed navbar
.navbar.navbar-default.navbar-fixed-top
  .container
    %span.navbar-brand Spillio
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", type: "button"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
    .navbar-collapse.collapse
      %form.navbar-form.navbar-left{role: "search", action: "#{student_search_path}"}
        .form-group
          %input.form-control{placeholder: "Search", type: "text", name: "query"}/
        %button.btn.btn-default{id:"search", type: "submit"}
          %span.glyphicon.glyphicon-search
      %ul.nav.navbar-nav.navbar-right
        %li
          =link_to "Admin Panel","#{admin_path}"
        %li.dropdown
          %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
            = "Admin"
            %b.caret
          %ul.dropdown-menu
            -if @show_promote_link
              %li
                =link_to "Promote to Reader","#{promote_to_reader_path(params[:id]||-1)}"
            %li
              =link_to "Logout","#{logout_path}"
    / /.nav-collapse
/ / Fixed navbar