- content_for :title do
  = "Dashboard"

- content_for :styles do
  = stylesheet_link_tag 'group_dash_board'

/ Navbar
= render "navbar"

/ Page body
.container
  .container
    .row
      %h3= "Group Management"
      %hr/
    .row
      - if flash[:notice]
        .alert.alert-warning= flash[:notice]
    / Left panel
    .col-lg-3.col-md-3.col-sm-12.col-xs-12
      .panel.panel-default
        .panel-body
          .panel.panel-default.assignment
            .panel-heading
              %h4.panel-title
                %a{"data-parent" => "#accordion", "data-toggle" => "collapse", href: "#"}
                  New Assignment
          .panel.panel-default.assignment
            .panel-heading
              %h4.panel-title
                %a{"data-parent" => "#accordion", "data-toggle" => "collapse", href: "#"}
                  Group Management
          .panel.panel-default.assignment
            .panel-heading
              %h4.panel-title
                %a{"data-parent" => "#accordion", "data-toggle" => "collapse", href: "#group-manage"}
                  Groups
            #group-manage.panel-collapse.collapse
              .card
                .btn-group
                  .btn-group
                    %button.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown", type: "button"}
                      All Groups
                      %span.caret
                    %ul.dropdown-menu
                      %li
                        %a{href: "#"} Group 1
                      %li
                        %a{href: "#"} Group 2
                      %li
                        %a{href: "#"} Group 3
                      %li
                        %a{href: "#"} Group 4
                      %li
                        %a{href: "#"} Group 5
                      %li
                        %a{href: "#"} Group 6
                  %hr/
                  .btn-group
                    %button.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown", type: "button"}
                      My Groups
                      %span.caret
                    %ul.dropdown-menu
                      %li
                        %a{href: "#"} Group 1
                      %li
                        %a{href: "#"} Group 2
    / / Left panel
    / Assignment dahsboard panel
    %form.col-lg-9.col-md-9.col-sm-12.col-xs-12{role: "update group settings", action: "#{update_settings_path}"}
      #accordion.panel-group
        .panel.panel-default.assignment
          .panel-heading
            %h4#iteration.panel-title
              %a{"data-parent" => "#accordion", "data-toggle" => "collapse", href: "#assignment-5"}
                General Group Settings
          #assignment-5.panel-collapse
            .card
              %h4 Maximum Group Size
              .input-group{style: "width:30%"}
                %input.form-control{placeholder: "Current size is #{Setting.get_max_group_size}", type: "text", name: "group_size"}/
              %hr/
              %h4 Submissions
              %hr/
              %h4 Assign Instructors to Groups
              %table.table.table-striped
                %tr
                  %th Group
                  %th Number of Students
                  %th Group's GSI
                - Group.all.each do |gr|
                  %tr
                    %td #{gr.group_name}
                    %td
                      %span.badge #{gr.num_students}
                    %td
                      %select{ :name=> "group_reader[#{gr.id}]", :id=> "group_reader[#{gr.id}]" }
                        - if gr.reader.nil?
                          %option{selected: "selected", value: "Please select"} Please select:
                        - else
                          %option{selected: "selected", value: gr.reader.id} #{gr.reader.name}

                        - User.get_readers.each do |reader|
                          %option{value: reader.id} #{reader.name}
        %br/
        %button.btn.btn-success{style: "float:right", type: "submit"} Make Changes
      %br/
      %br/
      %br/
/ / Assignment dahsboard panel
