<h1>Let's create your profile!</h1>

<%= form_for @student, url: {action: "create"} do |f| %>
  <%= f.label :name, 'Name' %>
  <%= f.text_field :name %><br />

  <%= f.label :section, 'Section' %>
  <%= collection_select :student, :section_id, Section.all, :id, :number %><br />

  <%= f.label :about, 'About' %>
  <%= f.text_field :about %><br />
  
  <%= f.label :skills, 'Skills' %>
  <% Skill.all.each do |skill| %>
    <%= check_box_tag 'skill_ids[]', skill.id, false, :id => skill.name %> <%= skill.name %>
  <% end %><br />

  <%= f.label :courses, 'Courses' %>
  <% Course.all.each do |course| %>
    <%= check_box_tag 'course_ids[]', course.id, false, :id => course.name %> <%= course.name %>
  <% end %><br />
  
  <%= f.label :interest, 'Interest' %>
  <%= f.text_field :interest %><br />
  
  <%= f.submit 'Create profile' %>
<% end %>
