- content_for :title do
  = "Profile"
- content_for :styles do
  = stylesheet_link_tag 'student_profile'
  %link{:href=>"//cdn.jsdelivr.net/select2/3.4.4/select2.css", :rel=>"stylesheet"}
  %link{:href=>"//cdn.jsdelivr.net/select2/3.4.4/select2-bootstrap.css", :rel=>"stylesheet"}
- content_for :scripts do
  %script{:src=>"//cdn.jsdelivr.net/select2/3.4.4/select2.min.js"}
  = javascript_include_tag 'student_profile'

/ Navbar
= render "shared/navbar"

/ Page body
.container
  / Form
  .container
    / Top section
    .row
      - if @view_only
        %h3 #{@student.name}'s profile
      - else
        %h3 Edit your profile
      = render 'join_student_group'
      %hr/
      - if flash[:notice]
        .alert.alert-warning= flash[:notice]
    = form_for @student, :html => {:class => 'form-horizontal', :role => 'form'} do |f|
      .row
        / Top left section
        #student-info-section.col-xs-12.col-sm-12.col-md-8.col-lg-8
          .panel.panel-default
            .panel-heading Personal info:
            .panel-body
              .form-group
                = f.label :name, 'Name: ', :class => 'col-lg-2 control-label'
                .col-lg-10
                  - if @view_only
                    %p= @student.name
                  - else
                    = f.text_field :name, :placeholder => 'Your name', :class => 'form-control', :disabled => @view_only, :required => true
              .form-group
                = f.label :email, 'Email: ', :class => 'col-lg-2 control-label'
                .col-lg-10
                  - if @view_only
                    %p= @student.email
                  - else
                    = f.text_field :email, :placeholder => 'Email Address', :class => 'form-control', :disabled => @view_only, :required => true
              .form-group
                = f.label :section, 'Section: ', :class => 'col-lg-2 control-label'
                .col-lg-2
                  - if @view_only
                    - if not @student.section.nil?
                      %p= @student.section.number
                    - else
                      %p Not yet specified
                  - else
                    = collection_select :student, :section_id, Section.all, :id, :number, :class => 'form-control'
              .form-group
                = f.label :about, 'Description: ', :class => 'col-lg-2 control-label'
                .col-lg-10
                  - if @view_only
                    %p= @student.about
                  - else
                    = f.text_area :about, :class => 'form-control', :rows => '4', :required => true
        / / Top left section
        / Image section
        #image-section.col-xs-12.col-sm-12.col-md-4.col-lg-4
          .thumbnail
            %img#avatar-image.img-square.img-responsive{alt: "User profile", src: "#{@gravatar_url}"}
        / Image section
      / / Top section
      .row.hide
        #groups-section.container
          .well
            Groups will go here
      / Bottom section
      #other-section.row
        .col-xs-12.col-sm-12.col-md-4.col-lg-4
          = f.label :skill_names
          = f.hidden_field :skill_names
        .col-xs-12.col-sm-12.col-md-4.col-lg-4
          = f.label :courses
          = collection_select :student, :course_ids, Course.all, :id, :name, {}, :class => 'form-control', :multiple => true, :data_readonly => @view_only
        .col-xs-12.col-sm-12.col-md-4.col-lg-4
          = f.label :interest
          = f.text_area :interest, :class => 'form-control', :rows => '4'
      / / Bottom section
      .row
        .container
          - if @view_only
            - # PlaceHolder for edit
          - else
            = f.submit 'Save', :class => 'btn btn-primary pull-right'
  / / Form
/ / Page body