- content_for :title do
  = "Search"
- content_for :styles do
  %link{:href=>"//cdn.jsdelivr.net/select2/3.4.4/select2.css", :rel=>"stylesheet"}
  %link{:href=>"//cdn.jsdelivr.net/select2/3.4.4/select2-bootstrap.css", :rel=>"stylesheet"}
  = stylesheet_link_tag 'student_search'
- content_for :scripts do
  %script{:src=>"//cdn.jsdelivr.net/select2/3.4.4/select2.min.js"}
  = javascript_include_tag 'student_search'

.container
  - unless @authenticated_user.nil?
    = render "loggedin_student_navbar"
/ Page body
.container
  / Advanced search
  .container
    .row
      .panel.panel-default
        .panel-heading
          %h4.panel-title
            %a.accordion-toggle{"data-toggle" => "collapse", href: "#advanced-settings"}
              Advanced search
              %b.caret
        #advanced-settings.panel-collapse.collapse
          .panel-body
            %form
              .checkbox
                %label
                  %input{type: "checkbox", name: "only_students_without_groups", checked: @only_students_without_groups}/
                  Only students without groups
              .checkbox
                %label
                  %input{type: "checkbox", name: "only_students_in_my_section", checked: @only_students_in_my_section}/
                  Only students in my section
              - if not @all_skills.nil?
                %select.select2#filter-by-skills{name: "filter_by_skills", multiple: "multiple"}
                  - @all_skills.each do |sk|
                    %option{value: sk.name}= sk.name
              %button.btn.btn-primary.btn-sm{type: "submit"}
                Re do search
  / / Advanced search
  / Results list
  .container
    - if @any_results
      .row
        .list-group
          / Results
          - @students.each do |s|
            %a.list-group-item{href: "/students/#{s.id}"}
              .row
                .col-lg-1.col-md-1.col-sm-2.col-xs-2
                  %img.img-circle.img-responsive{alt: "User profile", src: "https://www.clt-lana.org/images/default-user.png"}/
                .col-lg-11.col-md-11.col-sm-10.col-xs-10
                  %h4.list-group-item-heading= s.name
                  %p.list-group-item-text
                    %strong Section:
                    - if not s.section.nil?
                      = s.section.number
                    - else
                      Not yet specified.
                  %p.list-group-item-text
                    %strong Description:
                    = s.about
                  %p.list-group-item-text
                    %strong Skills:
                    - if (s.skills)
                      - s.skills.each do |sk|
                        %span.label.label-primary= sk.name
      .row
        %ul.pagination
          - 1.upto(@num_pages) do |page|
            %li
              = link_to("#{page}", student_search_url(query: flash[:query], page: page))
    - else
      .row
        .alert.alert-danger
          No results found
  / / Results list
/ / Page body