- content_for :title do
  = "Dashboard"

- content_for :styles do
  = stylesheet_link_tag 'group_dash_board'

- content_for :scripts do
  %script{:src=>"//cdn.jsdelivr.net/select2/3.4.4/select2.min.js"}
  = javascript_include_tag 'student_profile'

/ Navbar
= render "shared/navbar"

/ Page body
.container
  .container
    .row
      %h3= "New Assignment"
      %hr/
    .row
    / Left panel
    .col-lg-3.col-md-3.col-sm-12.col-xs-12
      .panel.panel-default
        .panel-body
          .panel.panel-default.assignment
            .panel-heading
              %h4.panel-title
                %a{"data-parent" => "#accordion", "data-toggle" => "collapse", href: "#"}
                  New Assignment
          .panel.panel-default.assignment
            .panel-heading
              %h4.panel-title
                %a{"data-parent" => "#accordion", "data-toggle" => "collapse", href: "#"}
                  Group Management
          .panel.panel-default.assignment
            .panel-heading
              %h4.panel-title
                %a{"data-parent" => "#accordion", "data-toggle" => "collapse", href: "#group-manage"}
                  Groups
            #group-manage.panel-collapse.collapse
              .card
                .btn-group
                  .btn-group
                    %button.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown", type: "button"}
                      All Groups
                      %span.caret
                    %ul.dropdown-menu
                      %li
                        %a{href: "#"} Group 1
                      %li
                        %a{href: "#"} Group 2
                      %li
                        %a{href: "#"} Group 3
                      %li
                        %a{href: "#"} Group 4
                      %li
                        %a{href: "#"} Group 5
                      %li
                        %a{href: "#"} Group 6
                  %hr/
                  .btn-group
                    %button.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown", type: "button"}
                      My Groups
                      %span.caret
                    %ul.dropdown-menu
                      %li
                        %a{href: "#"} Group 1
                      %li
                        %a{href: "#"} Group 2
    / / Left panel
    / Assignment dahsboard panel
    .col-lg-9.col-md-9.col-sm-12.col-xs-12
      #accordion.panel-group
        .panel.panel-default.assignment
          = form_tag :controller => :instructors, :action => :post_new_assignment do
            .panel-heading
              %h4.panel-title
                New class assignment
                %button.btn.btn-primary.btn-xs.pull-right{type: "submit"} Send to all groups
            #assignment-5.panel-collapse
              .card
                %h4 Assignment Name
                .input-group{style: "width:50%"}
                  = text_field_tag :task_name, nil, :class => "form-control", placeholder: "e.g., Iteration 1-1"
                %hr/
                %h4 Due Date
                .input-group{style: "width:50%"}
                  = text_field_tag :due_date, nil, :class => "form-control", placeholder: "yyyy-mm-dd"
                %hr/
                %h4 Maximum score
                - # TODO: add possibility of adding more than one of these. Should
                - # have to modify scores to have a label also, which should be
                - # editable from here
                .input-group{style: "width:50%"}
                  = text_field_tag :max_score, nil, :class => "form-control", placeholder: "e.g., 100", type: "number"
                %hr/
                %h4 Description
                .input-group{style: "width:100%"}
                  = text_area_tag :description, nil, :rows => 8, :class => "form-control"
                %hr/
                %h4 Deliverables to submit
                %table.table.table-striped
                  %tr
                    - # TODO: Add type
                    - # %th Type
                    %th Description
                  - # TODO: add possibility of adding more than one submission
                  %tr
                    / %td
                    /   .btn-group
                    /     %button.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown", type: "button"}
                    /       File
                    /       %span.caret
                    /     %ul.dropdown-menu{role: "menu"}
                    /       %li
                    /         %a{href: "#"} Link
                    %td
                      .input-group{style: "width:50%"}
                        = text_field_tag :submission_label, nil, :class => "form-control", placeholder: "e.g., Heroku url"
    / / Assignment dashboard panel
