%h4 Grade and Feedback
.panel-body
= form_tag({:action => 'save_grade', :controller=>'groups', :assignment_id=>assignment.id, :method=>'put'}) do
  .form-group
    .row
      %label.col-md-4.control-label{for: "grade"} Grade:
      .col-md-4
        .input-group
          %input#grade.form-control{name: "grade", placeholder: "#{assignment.grade if assignment.grade!=-1;}", type: "text"}/
          %span.input-group-addon /#{assignment.max_grade}
  %label.control-label.text-left{for: "comments"} Comments:
  .form-group
    = text_area_tag :feedback, "#{assignment.ta_feedback}", :rows => 3, :class => 'form-control', :required => true
  %button.btn.btn-primary{type: "submit"} Save
