- content_for :title do
  = "All Projects"
- content_for :styles do
  = stylesheet_link_tag 'student_search'
  = stylesheet_link_tag 'projects_list'
- content_for :scripts do
  = javascript_include_tag 'projects_index'

/ Navbar
= render "shared/navbar"

/ Page body
.container
  %form{role: "request project", action: update_priorities_for_group_path(@group_id), method:"post"}
    %h3 Projects
    / Results list
    .container#results
      - if @any_results
        .row
          .list-group
            / Results
            - if @has_voted
              .list-group-item
                .row
                  .st-details.col-lg-9.col-md-9.col-sm-9
                    %dl
                      %dt Selected Projects:
                      %dd 1st: #{@voted_projects[0]}
                      %dd 2nd: #{@voted_projects[1]}
                      %dd 3rd: #{@voted_projects[2]}
                      %dd 4th: #{@voted_projects[3]}
                      %dd 5th: #{@voted_projects[4]}
            - @projects.each do |p|
              .list-group-item{id: "project-#{p.id}"}
                .row
                  .st-details.col-lg-9.col-md-9.col-sm-9
                    %a{href: p.url, id: "#{p.id}"}
                      %h4.list-group-item-heading.st-name= p.title
                    - if not p.url.nil? and not p.url.empty?
                      %p.list-group-item-text
                        %strong URL:
                        = p.url
                    - if not p.description.nil?
                      %p.list-group-item-text
                        %strong Description:
                        %pre= p.description
                  -if not @group_id.nil?
                    .st-details.col-lg-3.col-md-3.col-sm-3
                    .btn-group{"data-toggle" => "buttons"}
                      %label.btn.btn-primary{id: "priority-1", data:{project:p.id}}
                        %input.btn-priority{name: "projects[#{p.id}]", type: "radio",value: 1, data: {priority: 1}}/
                        1
                      %label.btn.btn-primary{id: "priority-2", data:{project:p.id}}
                        %input.btn-priority{name: "projects[#{p.id}]", type: "radio",value: 2, data: {priority: 2}}/
                        2
                      %label.btn.btn-primary{id: "priority-3", data:{project:p.id}}
                        %input.btn-priority{name: "projects[#{p.id}]", type: "radio",value: 3, data: {priority: 3}}/
                        3
                      %label.btn.btn-primary{id: "priority-4", data:{project:p.id}}
                        %input.btn-priority{name: "projects[#{p.id}]", type: "radio",value: 4, data: {priority: 4}}/
                        4
                      %label.btn.btn-primary{id: "priority-5", data:{project:p.id}}
                        %input.btn-priority{name: "projects[#{p.id}]", type: "radio",value: 5, data: {priority: 5}}/
                        5
        %input{:type=>"hidden", :value=>@group_id, :id=>"group-id"}
        %button.btn.btn-success{type: "submit"} Submit Priorities

      - else
        .row
          .alert.alert-danger
            No results found

  / / Results list
/ / Page body
