%h4 Grade and Feedback
.panel-body
= form_tag({:action => 'save_grade', :controller=>'group_dash_board', :id=>params[:id], :method=>'put'}) do
  .form-group
    .row
      %label.col-md-4.control-label{for: "grade"} Grade:
      .col-md-4
        .input-group
          %input#grade.form-control{name: "grade", placeholder: "#{assignment.grade}", type: "text"}/
          %span.input-group-addon /#{assignment.max_grade}
  %label.control-label.text-left{for: "comments"} Comments:
  .form-group
    = text_area_tag :content, "#{assignment.ta_feedback}", :rows => 3, :class => 'form-control', :required => true
  %button.btn.btn-primary{type: "submit"} Save
