%h4 Messages
- if posts.nil? || posts.count == 0
  .panel-body
    %p No messages yet
- else
  - posts.each do |post|
    .panel-body
      %div{:class => post.user.is_student? ? "message student" : "message instructor"}
        %span.author= "#{post.user.name} said:"
        %p.content= post.content
= form_tag({:action => 'create_post', :controller => 'group_dash_board', :assignment_id => assignment_id}, {:role => 'form'}) do
  = label_tag :content, "Ask something:", :class => 'control-label'
  %br
  .form-group
    = text_area_tag :content, nil, :rows => 3, :class => 'form-control', :required => true
  = submit_tag 'Post', :class => 'btn btn-primary'