- if submissions.nil? || submissions.count == 0
  %h4 This assignment doesn't require a submission
- else
  %h4 Submissions
  .panel-body
    - submissions.each do |submission|
      - if ( submission.content.nil? || submission.content.empty?)
        = form_for submission, :html => {:class => 'form-inline', :role => 'form'} do |f|
          = f.label :content, submission.label, :class => 'control-label'
          %br
          .form-group
            = f.text_field :content, :class => 'form-control', :required => true
          = f.submit 'Save', :class => 'btn btn-primary'
      - else
        %h4= submission.label
        %p= submission.content
