- content_for :title do
  = "Dashboard"

- content_for :styles do
  = stylesheet_link_tag 'group_dash_board'

- content_for :scripts do
  %script{:src=>"//cdn.jsdelivr.net/select2/3.4.4/select2.min.js"}
  = javascript_include_tag 'student_profile'

/ Navbar
= render "shared/navbar"

/ Page body
.container
  .container
    .row
      %h3= "#{@group.group_name} dashboard"
      %hr/
    .row
      / Left panel
      .col-lg-3.col-md-3.col-sm-12.col-xs-12
        .panel.panel-default
          .panel-heading
            %h4.panel-title= @group.group_name
          .panel-body
            %h4 Group members:
            %ul.member
              - @group.students.each do |student|
                %li
                  = link_to student.name, "#{student_path student}"
      / / Left panel
      / Assignment dashboard panel
      .col-lg-9.col-md-9.col-sm-12.col-xs-12
        #accordion.panel-group
          - @group.assignments_in_order.any? do |assignment|
            .panel.panel-default.card-panel{:id => "assignment-#{assignment.id}"}
              .panel-heading
                %h4.panel-title
                  %a{"data-parent" => "#accordion", "data-toggle" => "collapse", href: "#assignment-#{assignment.id}-collapse"}
                    = assignment.title
                  - assignment_badge(assignment)
              .panel-collapse.collapse{:id => "assignment-#{assignment.id}-collapse"}
                .card.description
                  %h4 Description
                  .panel-body
                    = assignment.description
                  = render :partial => 'submissions', :locals => {:submissions => assignment.submissions}
                - if @edit_mode
                  .card.grade
                    = render :partial => 'grade', :locals => {:assignment => assignment}
                - elsif assignment.grade!=-1
                  .card.grade
                    = render :partial => 'reader_feedback', :locals => {:assignment => assignment}
                - if 
                  .card.messages
                    = render :partial => 'posts', :locals => {:posts => assignment.posts_in_chronological_order, :assignment_id => assignment.id}
          - if @group.assignments_in_order.empty?
            .panel.panel-default.card-panel
              .panel-heading
                %h4.panel-title
                  = "No Assignments yet ;)"
      / / Assignment dashboard panel